* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(177, 146, 112);
}

#buttons {
    margin-bottom: 5vh;
    padding: 3vw;
}
    
canvas {
    padding: 0;
    background-color: beige;
    border-radius: 12px;
    /* position: absolute;
    left: 25vw; */
    display: block;
    margin: auto;
    margin-top: 5vh;
    /* width: 50vw; */
    height: 25vw;
    width: 50vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




 img {
    height: 25vw;
    width: 50vw;
    display: block;
    margin: auto;
    margin-bottom: 3vh;
    background-color: pink;
 }

 #images {
    margin-top: 5vh;

 }
 nav {
    background-color: rgb(148, 113, 76);
    max-height: 100px;
    height: 10vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
 }

 #save {
    top: 70vh;
    left: 45vw;
 }

 .buttons > *:hover {
    -webkit-transform: translateY(-5px);
	transform: translateY(-5px);
 }

 .buttons > *{
    background-color: rgb(117, 69, 7);
    padding: 1vw;
    width: 5vw;
    color: beige;
    text-align: center;
    border-radius: 12px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 #front {
    top: 70vh;
    left: 55vw;
 }

 #back {
    top: 70vh;
    left: 65vw;

 }

 #print {
    top: 70vh;
    left: 75vw;

 }

 #save-all {
    top: 70vh;
    left: 35vw;
 }